#OpenVNIO ver 2020.1

#
certifi
chardet
Click
cycler
Flask
idna
imutils
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
opencv-python
pyparsing
python-dateutil
requests
scipy
six
urllib3
Werkzeug
wincertstore

#Moran text recongition
colour
LMDB
matplotlib
Pillow
torch
torchvision

#Craft text detector
craft_text_detector

# Testing
pytest
coverage
